<!DOCTYPE html>
<html>
  <head>
    <title>Eatery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
    window.chefPic = "<%= image_url('chef.png') %>"
    window.burger = "<%= image_url('burger.jpg') %>"
    window.cupcakes = "<%= image_url('cupcakes.jpg') %>"
    window.ribs = "<%= image_url('ribs.jpg') %>"
    window.steak = "<%= image_url('steak.jpg') %>"
    window.sushi = "<%= image_url('sushi.jpg') %>"
    window.tacos = "<%= image_url('tacos.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
