<!DOCTYPE html>
<html>
  <head>
    <title>Eatery</title>
    <link rel="icon" href="<%= image_url('chef_browser.png') %>">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAT6XWfR0o9V0blGi0i9UecDV5xM_rxEy0" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <script src="https://use.fontawesome.com/56fa3834bd.js"></script>

    <script type="text/javascript">
      window.chefLogo = "<%= image_url('chef_logo.png') %>"
      window.starLogo = "<%= image_url('star_logo.jpg') %>"
      window.welcome = "<%= image_url('welcome.jpg') %>"
      window.cityscape = "<%= image_url('cityscape.png') %>"
      window.starClear = "<%= image_url('star_clear.png') %>"
      window.starFull = "<%= image_url('star_full.png') %>"
      window.starWhite = "<%= image_url('star_white.png') %>"
      window.walleBall = "<%= image_url('walle_ball.png') %>"
      window.cake = "<%= image_url('homepage/cake.jpeg') %>"
      window.churro = "<%= image_url('homepage/churro.jpeg') %>"
      window.cupcakes = "<%= image_url('homepage/cupcakes.jpeg') %>"
      window.dessert = "<%= image_url('homepage/dessert.jpeg') %>"
      window.orangeDrink = "<%= image_url('homepage/orange-drink.jpg') %>"
      window.pancakes = "<%= image_url('homepage/pancakes.jpeg') %>"
      window.pizza = "<%= image_url('homepage/pizza.jpg') %>"
      window.salad = "<%= image_url('homepage/salad.jpg') %>"
      window.salmon = "<%= image_url('homepage/salmon.jpg') %>"
      window.vineyard = "<%= image_url('homepage/vineyard.jpeg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
